{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}

<h1>{{ hive.course }}</h1>
<hr></hr>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="">
        <div>
            <label for="id_notes_title">Notes title:</label>
            <div>
                <input id="id_notes_title" maxlength="250" name="notes_title" type="text" required="">
            </div>
        </div>
        <div class="col-sm-offset-5">
            <input class="" id="id_notes_file" name="notes_file" type="file" required="">
        </div>

    </div>
    <button class="btn btn-info" type="submit"> upload </button>
</form>



<!-- <form method="POST" id="post-form">
    {% csrf_token %}
    <input id="" maxlength="250" name="post" type="text" required="">
    <button class="btn btn-info" type="submit"> Post </button>
</form> -->

<h3>Download Notes</h3>
<div class="row">
    <div class="text-center">
        {% for note in notes %}
            {% if hive.course == note.hive.course %}

                <a class="btn btn-warning" href="{{ note.notes_file.url }}" download> <p> {{ note.notes_title }}</p></a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- <script src="{% static 'js/main.js' %}"></script> -->

{% endblock %}
