body {
   background:#FAFAFA !important;
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.removePad {
    padding: 0px;
}

.removeBullets {
  list-style-type: none !important;
}

ul {
    list-style: none;
    padding: 0px;
    text-align: center;;
}

li {
    text-align: center;
    padding-left: 20px
}

#evilLine {
    text-decoration: none;
}

.login-logo {
    max-width: 75%;
    padding-bottom: 4%
}

.logo {
    max-width: 40%;
}

.logorow {
    text-align: center;
}

.logonav {
    max-width: 20%;
}
