.hives {
    text-align: center;
    display: inline;
    float: left;
}

#noRightPad {
    padding-right: 0px;
}

.noPadding {
    padding: 0px 0px 0px 0px;
}

.topPad2 {
    margin-top: 5%;
}

.topPad4 {
    margin-top: 2%;
}

.width3 {
    max-width: 42%;
    margin-left: 5%;
    margin-right: 1%;
    text-align: center;
}

.pad60Bot {
    padding-top: 10%;
    padding-bottom: 14.5%;
}

.hiveCourse:hover {
    background-color: #fbc02d;
}

.maxWidth {
    max-width: 100%;
}
