.outHive {
    /*padding: 50px 50px 50px 50px;*/
}
.hives {
    /*padding: 100px 50px 100px 50px;*/
    /*margin: 0px 20px 0px 20px*/
    display: inline;
    float: left;
}
#noRightPad {
    padding-right: 0px;
}
.noPadding {
    padding: 0px 0px 0px 0px;
}
.addPad {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
