{% extends "layout.html" %}

{% block head_title %}Hive Profile{% endblock %}

{% block content %}

<h1>Profile</h1>
<hr></hr>
{{ user }}

    <div class="" id = "Bio">
        <div>
            <label for="id_bio">Their Bio:</label>
              {{ bio }}
        </div>

    </div>

    <h3>Download Notes</h3>
    <div class="row" id = "max">
        <div class="text-center">
            {% for note in portfolio %}
                {% if u == note.user %}

                    <a class="btn btn-warning" href="{{ note.notes_file.url }}" download> <p> {{ note.notes_title }}</p></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>





{% endblock %}
